h3{
    text-align: center;
}

.card-body{
    margin-top: 10%
}

#login_user, #register_user{
    margin-left: 34%;
    width: 34%;
}

#error_message, #error_message1{
    text-align: center; 
    color: red;
    font-size: 14px;
}

#sign_up{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 2%;
}
    